<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2014 Google Inc.
 Copyright (C) 2022 StatiXOS
 SPDX-License-Identifer: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.android.systemui"
    android:sharedUserId="android.uid.systemui">

    <original-package android:name="com.android.systemui" />

    <!-- DataSwitch tile -->
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <!-- Elmyra -->
    <uses-permission android:name="android.permission.ACCESS_CONTEXT_HUB" />
    <permission
        android:name="com.google.sensor.elmyra.permission.USE_RAW_SENSOR"
        android:protectionLevel="preinstalled|signature" />
    <uses-permission android:name="com.google.sensor.elmyra.permission.USE_RAW_SENSOR" />

    <application
        android:appComponentFactory="com.statix.android.systemui.StatixSystemUIAppComponentFactory"
        tools:replace="android:appComponentFactory">

        <!-- Smart Pixels -->
        <service
            android:name="com.statix.android.systemui.smartpixels.SmartPixelsService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
