<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2014 Google Inc.
 * Copyright (C) 2022 StatiXOS
 * SPDX-License-Identifer: Apache-2.0
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        package="com.android.systemui"
        android:sharedUserId="android.uid.systemui"
        xmlns:tools="http://schemas.android.com/tools"
        coreApp="true">

    <original-package android:name="com.android.systemui"/>
    <uses-permission android:name="android.permission.ACCESS_CONTEXT_HUB"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <permission android:name="com.android.systemui.permission.SEND_ALERT_BROADCASTS" android:protectionLevel="preinstalled|signature"/>
    <uses-permission android:name="com.google.android.deskclock.permission.RECEIVE_ALERT_BROADCASTS"/>

    <!-- DataSwitch tile -->
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory=".SystemUIAppComponentFactory">

        <!-- Smart Pixels -->
        <service android:name="com.statix.android.systemui.smartpixels.SmartPixelsService"
            android:exported="true"
            android:enabled="true" />

    </application>

</manifest>
